.not-found{
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.not-found h2{
    color : red;
    font-weight: bold;
}
.not-found h1{
    color : red;
    font-weight: bold;
}