.snackbar{
    height: 50px;
    width: auto;
    background-color: #ffffff;
    border-radius: 1px;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.snackbar p{
    margin: auto 0;
}

