@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.container{
	background: linear-gradient(to right, rgb(255, 255, 255) 52%,#D1FF65 53%,#D1FF65 100%);
	font-family: 'Roboto', sans-serif;
	height: auto;
	padding: 20px 0;
	margin-top: 10px;
}
.card{
	border: none;
	max-width: 450px;
	border-radius: 15px;
	padding: 35px;
	padding-bottom: 20px!important;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.heading{
	color: #000000;
	font-size: 14px;
	font-weight: 500;
}
img{
	transform: translate(160px,-10px);
}
img:hover{
    cursor: pointer;
}
.text-warning{
	font-size: 12px;
	font-weight: 500;
	color: #000000!important;
}
#cno{
	transform: translateY(-10px);
}
input{
	border-bottom: 1.5px solid #E8E5D2!important;
	font-weight: bold;
	border-radius: 0;
	border: 0;

}
.form-group input:focus{
	border: 0;
	outline: 0;
}
.col-sm-5{
	padding-left: 90px;
}
.btn{
	background: #000000!important;
	border: none;
	border-radius: 30px;
}
.btn:focus{
    box-shadow: none;
}