@media(min-width:320px){
    .card{
        margin: auto;
        max-width: 950px;
        width: 100%;
    }
    .cart{
        background-color: #fff;
        padding: 4vh 5vh;
    }
    .img-container{
        position: relative;
    }
    .img-fluid{
        position: absolute;
        left: -30%;
        top: 0;
    }
    .summary{
        background-color: #000000;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        padding: 10px;
        color: rgb(255, 255, 255);
    }
    .summary .col-2{
        padding: 0;
    }
    .summary .col-10
    {
        padding: 0;
    }.row{
        margin: 0;
    }
    .title b{
        font-size: 1.5rem;
    }
    .close{
        margin-left: auto;
        font-size: 0.7rem;
    }
    img{
        width: 3.5rem;
    }
    .btn{
        background-color: #ffffff;
        border-bottom: 4px solid #D1FF65;
        color: rgb(0, 0, 0);
        width: 100%;
        font-size: 0.7rem;
        font-weight: bold;
        margin-top: 4vh;
        padding: 1vh;
        border-radius: 0;
    }
    .btn:focus{
        box-shadow: none;
        outline: none;
        box-shadow: none;
        color: white;
        transition: none; 
    }
    .btn:hover{
        color: rgb(0, 0, 0);
    }
    a{
        color: black; 
    }
    a:hover{
        color: black;
        text-decoration: none;
    }
    .quantity-btn{
        font-weight: bold;
        cursor: pointer;
        text-decoration: none;
        width: 20px;
        height: 20px;
        border: none;
        border-radius: 5px;
        outline: none;
        background-color: #000;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .quantity-span{
        outline: none;
        border: none;
        margin: auto 5px;
        font-weight: bold;
    }
    fa-icon{
        cursor: pointer;
        color: red;
    }
    .no-items-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px;
    }
    .no-items-container img{
        height: 200px;
        width: auto;
    }
    .no-items-container button{
       background-color: #000;
       color: white;
       border-bottom: 4px solid #D1FF65;
       width: auto;
       border-radius: 10px;
    }
}
