@media(min-width:320px){
    .color-span{
        width: 25px;
        height: 25px;
        border-radius: 50%;
    }
    .quantity{
        margin: auto 5px;
    }
    .quantity-btn{
        font-weight: bold;
        cursor: pointer;
        text-decoration: none;
        width: 20px;
        height: 20px;
        border: none;
        border-radius: 5px;
        outline: none;
        background-color: #000;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .quantity-span{
        outline: none;
        border: none;
        margin: auto 5px;
        font-weight: bold;
    }
    .no-items-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px;
    }
    .no-items-container img{
        height: 200px;
        width: auto;
    }
    .no-items-container button{
       background-color: #000;
       color: white;
       border-bottom: 4px solid #07393C;
       width: auto;
       border-radius: 10px;
    }
}
