@media(min-width : 320px){
    .color-container{
        width: 50px;
        height: 50px;
    }
    #color-radio{
        background-color: red;
    }
    .fa-star{
        color: #D1FF65;
    }
    .img-container{
        position: relative;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border-radius: 5px;
    }
    .no-stock-wrapper{
        position: absolute;
        top: 20%;
        background-color: rgba(150, 150, 150, 0.164);
        color: rgba(0,0,0,0.6);
        text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .notify-btn-container button{
    border-bottom: 4px solid #D1FF65;
    background-color: black;
    color: white;
}
.add-to-cart-btn{
    border-bottom: 4px solid #D1FF65;
    background-color: black;
    color: white;
    width: 110px;
}

}
@media (min-width: 575px) {
    
}