    <div class="container" id="details-container">
      <div class="row pt-3">
        <aside class="col-lg-5 col-md-5 col-sm-4 col-6">
          <div class="img-container mb-3 d-flex justify-content-center">
            <div class="no-stock-wrapper" *ngIf="!selectedProd.isInStock">
              <h1>Not In Stock</h1>
            </div>
              <img class="img-fluid" [src]="selectedProd.imageUrl" />
              <div class="heart-icon-container">
                <i class="fa fa-heart-o" title="Add To WishList"></i>
              </div>
          </div>
        </aside>
        <main class="col-lg-4 col-md-4 col-sm-4 col-6 flex-row-1 my-3">
          <div class="ps-lg-3 ps-md-2 ps-sm-1 ps-1">
            <h4 class="title text-dark">
              {{selectedProd.title}}<br/>
            </h4>
            <div class="d-flex flex-row my-3">
              <div class="mb-1 me-2">
                <i [class]="selectedProd.rating > 0 ? 'fa-solid fa-star' : 'fa-regular fa-star'" ></i>
                <i [class]="selectedProd.rating > 1 ? 'fa-solid fa-star' : 'fa-regular fa-star'" ></i>
                <i [class]="selectedProd.rating > 2 ? 'fa-solid fa-star' : 'fa-regular fa-star'" ></i>
                <i [class]="selectedProd.rating > 3 ? 'fa-solid fa-star' : 'fa-regular fa-star'" ></i>
                <i [class]="selectedProd.rating > 4 ? 'fa-solid fa-star' : 'fa-regular fa-star'" ></i>
              </div>
            </div>
            <div class="mb-3">
              <span class="h5">{{ selectedProd.price | currency : 'R' }}</span>
            </div>
            <p>
              {{selectedProd.description}}
            </p>
            <div class="row" >
              <hr class="details-options fw-bold">
              <dt class="col-3 details-options">Brand:</dt>
              <dd class="col-9 fw-bold">{{selectedProd.brand? selectedProd.brand : 'Unknown'}}</dd>
            </div>
            <div class="row mb-4" *ngIf="selectedProd.isInStock">
              <div class="row" >
                <dt class="col-3 pt-1 details-options">Size:</dt>
                <dd class="col-9 ">
                  <select class="form-select border border-secondary" style="height: 35px;" [(ngModel)]="selectedSize">
                    <option selected>Choose</option>
                    <option *ngFor="let size of selectedProd.sizeOptions" [value]="size">{{size}}</option>
                  </select></dd>
                <dt class="col-4 pt-1 details-options">Color:</dt>
                <dd class="col-8 details-options">
                  <div class="colour-div d-flex">
                    <div class="d-flex flex-column pt-1 mx-1" *ngFor="let color of selectedProd.colorOptions">
                      <input type="radio" id="color-radio" value="" name="color"/>
                      <label for="color-radio">{{color}}</label>
                    </div>
                  </div>
                </dd>
                <dd class="col-8 details-options">
              </div>
              <div class="col-12 mt-3">
                <div class="row px-2">
                  <div class="col-2">
                    <button class="btn add-to-cart-btn" (click)="AddToCart(selectedProd)">
                     Add to cart 
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="notify-btn-container" *ngIf="!selectedProd.isInStock">
              <button type="button" class="btn" (click)="PostProducts()">Notify Me</button>
            </div>
          </div>
        </main>
        <aside class="col-lg-3 col-md-3 col-sm-4 col-12 col-12">
          <div class="px-0 border rounded-2 shadow-0">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Similar items</h5>
                <div class="d-flex mb-3 justify-content-start" *ngFor="let similarProd of similarProducts" (click)="ViewProduct(similarProd)">
                  <a class="me-3">
                    <img [src]="similarProd.imageUrl" style="min-width: 96px; height: 96px;" class="img-md img-thumbnail" />
                  </a>
                  <div class="info d-lg-block d-md-none d-sm-none">
                    <a class="nav-link mb-1">
                      {{ similarProd.title}} 
                    </a>
                    <strong class="text-dark"> {{similarProd.price | currency : 'R'}}</strong>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </aside>
      </div>
    </div>
  

  
  
