    <div class="container">
      <div class="row gx-6 pt-3">
        <aside class="col-lg-5">
          <div class="img-container mb-3 d-flex justify-content-center">
            <div class="no-stock-wrapper" *ngIf="!selectedProd.isInStock">
              <h1>Not In Stock</h1>
            </div>
              <img style="max-width: 70%; max-height: 70vh; margin: auto;" class="img-fluid" [src]="selectedProd.imageUrl" />
          </div>
        </aside>
        <main class="col-lg-4">
          <div class="ps-lg-3">
            <h4 class="title text-dark">
              {{selectedProd.title}}<br/>
            </h4>
            <div class="d-flex flex-row my-3">
              <div class="mb-1 me-2">
                <i [class]="selectedProd.rating > 0 ? 'fa-solid fa-star' : 'fa-regular fa-star'" ></i>
                <i [class]="selectedProd.rating > 1 ? 'fa-solid fa-star' : 'fa-regular fa-star'" ></i>
                <i [class]="selectedProd.rating > 2 ? 'fa-solid fa-star' : 'fa-regular fa-star'" ></i>
                <i [class]="selectedProd.rating > 3 ? 'fa-solid fa-star' : 'fa-regular fa-star'" ></i>
                <i [class]="selectedProd.rating > 4 ? 'fa-solid fa-star' : 'fa-regular fa-star'" ></i>
              </div>
            </div>
            <div class="mb-3">
              <span class="h5">{{ selectedProd.price | currency : 'R' }}</span>
            </div>
            <p>
              {{selectedProd.description}}
            </p>
            <div class="row" >
              <dt class="col-3">Color</dt>
              <dd class="col-9">Brown</dd>
  
              <dt class="col-3">Material</dt>
              <dd class="col-9">Cotton, Jeans</dd>
  
              <dt class="col-3">Brand</dt>
              <dd class="col-9">Reebook</dd>
            </div>
  
            <hr />
  
            <div class="row mb-4" *ngIf="selectedProd.isInStock">
              <div class="col-md-4 col-6">
                <label class="mb-2">Size</label>
                <select class="form-select border border-secondary" style="height: 35px;" [(ngModel)]="selectedSize">
                  <option *ngFor="let size of selectedProd.sizeOptions" [value]="size">{{size}}</option>
                </select>
              </div>
              <div class="col-md-4 col-6">
                <label class="mb-2">Choose Color</label>
                <div class="colour-div d-flex">
                  <div class="d-flex" *ngFor="let color of selectedProd.colorOptions">
                    <input type="radio" id="color-radio" value="" name="color"/>
                    <label for="color-radio">{{color}}</label>
                  </div>
                </div>
            
              </div>
              <div class="col-12 mt-3">
                <div class="row">
                  <div class="col-5">
                    <button class="btn add-to-cart-btn" (click)="AddToCart(selectedProd)" style="width: 180px;">
                      <i class="me-1 fa fa-shopping-basket"></i>Add to cart 
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="notify-btn-container" *ngIf="!selectedProd.isInStock">
              <button type="button" class="btn" (click)="PostProducts()">Notify Me</button>
            </div>
          </div>
        </main>
        <aside class="col-lg-3">
          <div class="px-0 border rounded-2 shadow-0">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Similar items</h5>
                <div class="d-flex mb-3" *ngFor="let similarProd of similarProducts" (click)="ViewProduct(similarProd)">
                  <a class="me-3">
                    <img [src]="similarProd.imageUrl" style="min-width: 96px; height: 96px;" class="img-md img-thumbnail" />
                  </a>
                  <div class="info">
                    <a class="nav-link mb-1">
                      {{ similarProd.title}} 
                    </a>
                    <strong class="text-dark"> {{similarProd.price | currency : 'R'}}</strong>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </aside>
      </div>
    </div>
  

  
  
