<button class="btn button-31" (click)="ToggleSearch()">
    <h5 class="fw-bold"><fa-icon [icon]="faMagnifyingGlass"></fa-icon>Search</h5>
</button>
<div [class]="searchMode? 'search-outlet active' : 'search-outlet'">
    <div class="search-container p-5">
                <div class="row">
                    <div class="form-floating col-10 mb-3">
                        <input type="email" class="form-control" id="floatingInput" [(ngModel)]="SearchText" (input)="SearchProduct(SearchText)">
                        <label for="floatingInput" class="ms-3">Search product. . .</label>
                      </div>
                      <div class="col-2 times-container">
                          <i class="fa fa-times times-icon" (click)="ToggleSearch()"></i>
                      </div>
                      <hr>
                    <div class="col-lg-4 col-sm-2 search-links" *ngIf="!SearchText">
                        <a href="" class="nav-link">New Arrivals</a>
                        <a href="" class="nav-link">Brands</a>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <header class="fw-bold" *ngIf="!SearchText">Popular</header>
                        <header class="fw-bold" *ngIf="SearchText">Search results for "{{SearchText}}"</header>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-5 card p-0 m-1 justify-content-center" *ngFor="let item of products" (click)="ViewProduct(item)">
                                    <img [src]="item.imageUrl" class="card-img-top" alt="">
                                    <div class="">
                                      <h5 class="card-title">{{item.title}}</h5>
                                      <div class="price-tag">
                                        <p class="fw-bold">{{item.price | currency : 'R'}}</p>
                                      </div>
                                      <ng-template #stockinfo>
                                          <p class="fw-bold text-danger">Out Of Stock</p>
                                      </ng-template>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>