   <div class="row hero-container">
        <div class="col-lg-6 col-md-6 col-sm-12 image-bg">
            <div class="hero-text-cover d-flex flex-column align-items-center">
                <p class="fw-bold mt-auto">Step into success with our exclusive collection <br> that blends elegance and comfort.
                    Perfect for every <br> occasion—because every man deserves to look sharp!</p>
               <header class="hero-header">Shop Now and Find Your Sole Mate!</header>
            </div>
        </div>
        <div class="col-6 text-center d-flex align-items-center justify-content-center">
            <button class="btn btn-outline-dark fw-bold fs-sm-5">Shop Now</button>
        </div>
    </div>

    <div class="container">
<div class="banner row ps-4">
    <div class="sale-banner col-5">
        <p>Up To <span>40%</span> Sale</p>
    </div>
    <div class="sale-banner-snd col-5">
        <p>Up To 40% Sale</p>
    </div>
</div>
</div>
