<div class="container">
    <div class="row hero-container">
        <div class="col-6 image-bg">
            <div class="hero-text-cover d-flex flex-column align-items-center">
                <p class="fw-bold">Step into success with our exclusive collection <br> that blends elegance and comfort.
                    Perfect for every <br> occasion—because every man deserves to look sharp!</p>
               <h3 class="hero-header">Shop Now and Find Your Sole Mate!</h3>
            </div>
        </div>
        <div class="col-6 text-center d-flex align-items-center">
            <p class="fw-bold">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo veniam est quos mollitia
                 voluptatum reprehenderit deserunt placeat ipsam ullam in sapiente maiores velit nostrum,
                  molestiae ducimus tempore veritatis ipsa dolores nesciunt ipsum distinctio ex illo, totam eius! 
                  Harum, in dicta. Explicabo libero quaerat impedit. Rem aliquid similique dolore enim dolores?</p>
        </div>
    </div>
</div>
