@media (min-width : 320px){
    .card-img-top{
        height: 24rem;
        width: auto;
    }
    #mainHeader{
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 5;
      }
    .router-outlet{
        margin-top: 70px;
    }
    .router-outlet.other{
        margin-top: 125px;
    }
    .path-display
    {
        width: 100%;
        background-color: rgb(0, 0, 0);
        padding:  2px 30px;
        min-height: 25px;
    }
    .path-display p{
        font-weight: bold;
        margin: auto 0;
        color: white;
    }
}
@media (min-width: 576px) {
    .router-outlet.other{
        margin-top: 125px;
    }
    .router-outlet{
        margin-top: 130px;
    }
}