ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0;
}
li{
    list-style: none;
}
a{
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    color: #ffffff;

}
#container{
    margin-bottom: 15px;
    background-color: #000000;
}