@media(min-width : 320px){
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0;
}
li{
    list-style: none;
}
a{
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    color: #ffffff;

}
#bottom-container{
    margin-bottom: 15px;
    overflow-y: hidden;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: white;
    border-bottom: 2px solid gray;
}
#bottom-container div{
    cursor: pointer;
    width: 80px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 5px;
    text-align: center;
}
#bottom-container div p{
    margin: auto 0;
}
}
@media(min-width : 555px){
    #bottom-container div{
        cursor: pointer;
        width: 120px;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        border-radius: 5px;
        text-align: center;
    }
}
