@media (min-width:320px){
    .card{
        position: relative;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        cursor: pointer;
        padding: 2.5px;
        overflow: hidden;
        min-height: 250px;
    }
    .card-img-top{
        transition: transform 0.5s ease-in-out;
    }
    .card:hover .card-img-top{
        transform: scale(1.05);
    }
    .price-tag{
        background-color: #000000;
        color: #D1FF65;
        padding: 0px 5px 0;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .price-tag p{
        margin: auto 0;
        font-size: small;
    }
    .discounted-price{
        text-decoration: line-through;
        text-decoration-color: #c114149c;
        color: rgb(0, 0, 0);
        font-size: small;
    }
    .discount-div{
        position: absolute;
        top: 5%;
        right: 0;
        color: #ffffff;
        background-color: #000000;
        padding: 2.5px 5px;
    }
    .discount-div p{
        margin: auto 0;
        font-size: small;
    }
    header{
        line-height: 17px;
    }
    .star-icons{
        font-size: smaller;
        padding: 0.5px 5px;
        transition: all 0.5s ease-in-out;
    }
    .fa-star{
        color: #000000;
    }
    .sizes{
        border: 0.5px solid black;
        margin: 5px;
        text-align: center;
        padding: 8px 0;
        transition: all 0.5s ease-in-out;
    }
    .sizes p{
        margin: auto;
        font-size: small;
    }
    .size-div{
        background-color: #ffffff;
        position: absolute;
        bottom: -15%;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.5s ease-in-out;
    }
    .card:hover .size-div{
        transform: translateY(-150%);
        width: 100%;
        z-index: 6;
    }
}
@media (min-width:355px){
    .card{
        min-height: 270px;
    } 
}
@media (min-width:380px){
    .card{
        min-height: 270px;
    } 
}
@media (min-width: 575px) {
    .card{
        position: relative;
       } 
    .star-icons{
        position: absolute;
        top: 5%;
        left: 0%;
        font-size: 20px;
    }
}
