@media(min-width:320px){
    select{
        border: 1px solid rgba(0, 0, 0, 0.137);
        padding: 10px 7.5px;
        margin-bottom: 5px;
        outline: none;
        width: 100%;
        background-color: rgb(247, 247, 247);
    }
    .btn{
        background-color: black;
        color: white;
        border-bottom: 4px solid #07393C;
    }
    .order-md-last{
        order: 2;
    }
    .order-bill-address{
        order: 1;
    }
    .ng-touched.ng-invalid{
        border: red 1px solid !important;
    }
    .ng-touched.ng-valid{
        border: #00ff1e 1px solid !important;
    }
}


