@media(min-width : 320px){
    .heart-icon-container{
        font-size: 30px;
        cursor: pointer;
        position: absolute;
        top: 5%;
        right: 5%;
    }
    .color-container{
        width: 50px;
        height: 50px;
    }
    #color-radio{
        background-color: red;
    }
    .fa-star{
        color: #07393C;
    }
    .img-container{
        position: relative;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border-radius: 5px;
    }
    .no-stock-wrapper{
        position: absolute;
        top: 20%;
        background-color: rgba(150, 150, 150, 0.341);
        color: rgba(0,0,0,0.6);
        text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .notify-btn-container button{
        border-bottom: 4px solid #07393C;
        background-color: black;
        color: white;
}
    .round-black-btn{
        width: 110px;
    }

    select{
        padding: 5px;
        font-size: 15px;
        border-radius: 0;
        color: black;
    }
    select:focus{
        border: none !important;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    }
    option{
        padding-left: 5px;
    }
    *> .details-options{
        transform: translateX(-20px);
    }

    }
    @media (min-width: 768px) {
        .no-stock-wrapper{
            height: 150px;
        }
    }
    @media (min-width: 1024px) {
        .no-stock-wrapper{
            height: 200px;
        }
    }