@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

@media (min-width: 320px) {
.offcanvas-collapse {
    position: fixed;
    top: 215px;
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow: hidden;
    visibility: hidden;
    background-color: #ffffff;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
    z-index: 5;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    transform: translateX(-100%);
  }
  .brand-logo{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo-img{
    height: 80px;
    border-radius: 50%;
  }
  small{
    font-style: italic;
  }
  .brand-container{
    line-height: 20px;
    border-radius: 15%;
    border-bottom: 2px solid #07393C;
    box-shadow: #000000 0px 10px 5px -5px;
    padding-bottom: 10px;
  }
  .brand-container a {
    margin: auto 0;
  }
  .fa{
    font-size: 25px;
  }
  .btn-toggler{
    outline: none;
    border: none;
    background-color: white;
  }
  .fa-times{
    color: red;
  }
  
  .navbar-brand{
    font-weight: 700;
    font-size: 20px;
    font-family: "Teko", sans-serif;
  }
  .navbar{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  }
  .cartContainer-li{
    position: relative;
  }
  .cartCount{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #000000;
    color: #ffffff;
    font-weight: bold;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    text-align: center;
    padding: auto;
    font-size: 12px;
  }
  .nav-link{
    color: #000000;
  }
  .nav-link:hover{
    color: #000000bf;
  }
  .nav-link.active{
    text-decoration: underline;
  }
}


