<div class="container">
    <div class="row mx-auto">
        <div class="col-lg-3 mb-2" *ngFor="let item of products">
            <div class="card flex-grow-1">
                <img [src]="item.image" class="card-img-top" alt="" (click)="MyMethod(item)">
                <div class="heart-icon">
                  <fa-icon [icon]="faHeart"></fa-icon>
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{item.title}}</h5>
                  <div class="discount-div" *ngIf="item.discount && item.isInStock">
                    <p class="fw-bold">{{item.discount * 100 + "% OFF"}}</p>
                  </div>
                  <div class="price-tag">
                    <p class="fw-bold">{{"R " + item.price.toFixed(2)}}</p>
                  </div>
                  <ng-container *ngIf="item.isInStock, else stockinfo">
                    <div>
                      <p class="fw-bold text-success">Available In Stock</p>
                    </div>
                  </ng-container>
                  <ng-template #stockinfo>
                    <div>
                      <p class="fw-bold text-danger">Out Of Stock</p>
                    </div>
                  </ng-template>
                  <div class="row size-div">
                    <div class="sizes col-2" *ngFor="let size of item.sizes">
                      <p class="fw-bold">{{size}}</p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>
