@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
}
.xng-breadcrumb-link {
    font-weight: bold;
    color: gray !important;
  }
.xng-breadcrumb-item {
    font-weight: bold;
    color: gray !important;
  }
.xng-breadcrumb-trail {
    color: white !important;
    font-weight: 500;
  }
  .dark{
    color: #000320;
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.custom-snackbar .mat-mdc-snack-bar-container .mdc-snackbar__surface {
  border-radius: 8px !important;
}

.custom-snackbar .mat-mdc-button.mat-mdc-snack-bar-action {
  color: rgb(0, 0, 0) !important;
  font-weight: bold !important;
}
.snackbar-success .mdc-snackbar__surface {
  background-color: #ffffff !important;
}
.snackbar-success .mdc-snackbar__label {
  color: rgb(33, 248, 0) !important;
  font-weight: bold !important;
}
.snackbar-error .mdc-snackbar__surface {
  background-color: red !important;
}

.snackbar-error .mdc-snackbar__label {
  color: white !important;
  font-weight: bold !important;
}
