@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
}
.xng-breadcrumb-link {
    font-weight: bold;
    color: gray !important;
  }
.xng-breadcrumb-item {
    font-weight: bold;
    color: gray !important;
  }
.xng-breadcrumb-trail {
    color: white !important;
    font-weight: 500;
  }
  .dark{
    color: #000320;
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
